@font-face {
    font-family: 'myWebFont';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myLocalFont';
    src: url("../fonts/NanumGothicOTF00.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: '돋움', Dotum, sans-serif;    
}

html {
    font-size: 14px;
    
}
a {
    color: #000;
    text-decoration: none;
    background-color: #f9f9f9;
}

p {
    line-height: 25px;
}

p.bold-text {
    font-weight: bold;
}

p.home {
    text-align: center;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 50px 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.content img {
    max-width: 40%;
    height: auto;
    object-fit: cover;
}

.content .text {
    max-width: 50%;
    font-size: 16px;
}

footer {
    text-align: center;
    font-size: 0.5rem;
    margin-top: 30px;
    padding: 0px;
    background-color: 0;
}

@media (max-width: 700px) {
    .content {
        flex-direction: column !important;
        align-items: center;
        
    }
    .content img, .content .text {
        max-width: 90%;
        margin: 10px 0;
    }
}